@import "bootstrap/scss/bootstrap.scss";

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem;
  }
}

.linkPhoto {
  a {
    color: orange;
  }
  a:hover {
    color: rgb(190, 126, 5);
  }
 text-align: right;
 bottom: 0;
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - #{4.5rem});
  padding-right: 1em;

  background:
  url("../../assets/slides/bg.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

  @include media-breakpoint-up(lg) {
      height: 100vh;
      min-height: 40rem;
      padding-top: 4.5rem;
      padding-bottom: 0;

      p {
          font-size: 1.15rem;
      }

      h1 {
          font-size: 3rem;
      }
  }
}

.carousel-caption {
  transform: translateY(-50%);
  bottom: initial;
  top: 45%;
}

@media (max-width: 800px) {
  .carousel-caption {
    top: 50%;
  }
  .carousel-inner {
    padding: 5em;
  }
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: grey;
  border: 0;
  opacity: 0.25;
}


hr:not([size]) {
  height: 1px;
}

.btn-primary {
  color: #fff;
  background-color: orange;
  border-color: orange;
}

.btn-primary:hover {
  color: #fff;
  background-color: rgb(219, 143, 2);
  border-color: rgb(219, 143, 2);
}

.btn-primary:focus {
  color: #fff;
  background-color: #cf5331;
  border-color: #c34e2e;
  box-shadow: 0 0 0 0.25rem rgba(246, 122, 88, 0.5);
}

.btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #c34e2e;
  border-color: #b74a2c;
}

.btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(246, 122, 88, 0.5);
}

.btn-primary:disabled, .btn-primary.disabled {
  color: #fff;
  background-color: #f4623a;
  border-color: #f4623a;
}

.btn-xl {
  padding: 1.25rem 2.25rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
}

hr.divider {
  height: 0.2rem;
  max-width: 10.25rem;
  margin: 1.5rem auto;
  background-color: orange;
  opacity: 1;
}

hr.divider-light {
  background-color: #fff;
}

.text-center {
  margin-top: 10px;
}
