* {
  text-align: center;
}

small, .small {
  font-size: 0.875em;
}

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

a {
  border: none;
  color: #696969;
}

a:hover {
  color: orange;
}
