<!-- Présentation -->
<section class="page-section presentation text-white" id="presentation">
  <div class="container">
    <img class="container__image" src="../../assets/slides/userSide.jpg">
    <div class="container__text">
      <h2>Yoa TOIHIR</h2>
      <hr class="divider divider-light" />
      <p>Je suis actuellement étudiante en 1ère année du cycle ingénieur informatique à l’ISTY appartenant à l’UVSQ.</p>
      <p>J’ai pu travailler sous différents systèmes d’exploitation tels que Linux et Windows. J’ai acquis de l’expérience en réalisant différents projets informatiques développés en programmation orientée objets Java 16, MEAN STACK, HTML5 CSS3, Angular JS, PHP, Python 3, C, C#, C++ en utilisant différents SGBD (MySQL, PostgreSQL), administration réseau et d’édition de logiciel tout en respectant et en prenant en compte la sécurité informatique. </p>
    </div>
    <img class="container__image2" src="../../assets/slides/userSide2.jpg">
    <div class="container__endText">
      <h2>La suite se passe ici !</h2>
      <a href="/home/#portfolio"><img class="gift" src="../../assets/slides/arrow.gif"></a>
    </div>
  </div>
</section>
