<div id="portfolio" class="bg-dark">
  <div class="container container-fluid">
  <div class="row no-gutters">
    <div class="col">
      <a class="portfolio-box" href="../../assets/portfolio/project1.png" title="Ventes de véhicules">
        <img class="img-fluid" src="../../assets/portfolio/project1.png" alt="..." />
        <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Projet Java</div>
            <div class="project-name">Ventes de véhicules</div>
        </div>
      </a>
    </div>
    <div class="col">
      <a class="portfolio-box" href="../../assets/portfolio/project2.PNG" title="War Game">
        <img class="img-fluid" src="../../assets/portfolio/project2.PNG" alt="..." />
        <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Projet Java</div>
            <div class="project-name">War Game</div>
        </div>
      </a>
    </div>
    <div class="col">
      <a class="portfolio-box" href="../../assets/portfolio/project3.png" title="Apprentissage des langues">
        <img class="img-fluid" src="../../assets/portfolio/project3.png" alt="..." />
        <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Projet Android Studio</div>
            <div class="project-name">Apprentissage des langues</div>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="container container-fluid">
  <div class="row no-gutters">
  <div class="col">
      <a class="portfolio-box" href="../../assets/portfolio/project4.png" title="Crossy Road-Like">
        <img class="img-fluid" src="../../assets/portfolio/project4.png" alt="..." />
        <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Projet Python</div>
            <div class="project-name">Crossy Road-Like</div>
        </div>
      </a>
    </div>
  <div class="col">
      <a class="portfolio-box" href="../../assets/portfolio/project5.png" title="Terraria-Like">
        <img class="img-fluid" src="../../assets/portfolio/project5.png" alt="..." />
        <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Projet Java</div>
            <div class="project-name">Terraria-Like</div>
        </div>
      </a>
    </div>
    <div class="col">
      <a class="portfolio-box" href="../../assets/portfolio/project6.png" title="Jeu de dames">
        <img class="img-fluid" src="../../assets/portfolio/project6.png" alt="..." />
        <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Projet C</div>
            <div class="project-name">Jeu de dames</div>
        </div>
      </a>
    </div>
    <div class="col">
      <a class="portfolio-box" href="../../assets/portfolio/project7.png" title="Pong">
        <img class="img-fluid" src="../../assets/portfolio/project7.png" alt="..." />
        <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Projet Python</div>
            <div class="project-name">Pong</div>
        </div>
      </a>
    </div>
  </div>
</div>
    <div class="container container-fluid">
      <div class="row no-gutters">
    <div class="col">
      <a class="portfolio-box" href="../../assets/portfolio/project8.png" title="Site de culture asiatique">
        <img class="img-fluid" src="../../assets/portfolio/project8.png" alt="..." />
        <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Projet PHP</div>
            <div class="project-name">Site de culture asiatique</div>
        </div>
      </a>
    </div>
    <div class="col">
      <a class="portfolio-box" href="../../assets/portfolio/project9.png" title="Gestion d'un ciné-club">
        <img class="img-fluid" src="../../assets/portfolio/project9.png" alt="..." />
        <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Projet Python</div>
            <div class="project-name">Gestion d'un ciné-club</div>
        </div>
      </a>
    </div>
    <div class="col">
      <a class="portfolio-box" href="../../assets/portfolio/project10.png" title="Jeu Rummikub">
        <img class="img-fluid" src="../../assets/portfolio/project10.png" alt="..." />
        <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Projet C</div>
            <div class="project-name">Jeu Rummikub</div>
        </div>
      </a>
    </div>
  </div>
</div>
