<div id="portfolio" class="bg-dark">
  <div class="container container-fluid">
  <div class="row no-gutters" *ngFor="let projectsGroup of projectsBis;">
    <div class="col portfolio-box" *ngFor="let project of projectsGroup">
      
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-link" title={{project.title}} data-toggle="modal" [attr.data-target]="'#'+ project.subtitle">

        <img class="img-fluid imgCover" src={{project.img}} alt="..." />
        <div class="portfolio-box-caption">
            <div class="project-category text-white-50">{{project.title}}</div>
            <div class="project-name">{{project.subtitle}}</div>
        </div>
      </button>
      <!-- Modal -->
      <div class="modal fade" id={{project.subtitle}} tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{project.title}} : {{project.subtitle}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img class="img-fluid" src={{project.img}} alt="..." />
              <br>
              <br>
              <div class="description" [innerHTML]="project.description"></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


