<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
  <a class="navbar-brand" href="#">
    <img src="./assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Yoa Toihir
  </a>

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="home"><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="./home#presentation">
          Présentation </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./home#portfolio">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./home#projet">Livre & Film d'animation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="mailto:yotoihir@gmail.com">
          <mat-icon> mail_outline</mat-icon>
        </a>
      </li>
    </ul>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search">
    </form>
  </div>
</nav>
