<!-- Projet -->
<section class="page-section projet text-white" id="projet">
  <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-lg-8 text-center">
            <mat-icon>movie</mat-icon>
            <mat-icon>brush</mat-icon>
            <h1 class="text-white mt-0">Projet film d'animation/livre jeunesse</h1>
              <hr class="divider divider-light" />
              <h2><strong> En quoi consiste le projet ? </strong></h2> <p> J'ai écrit un roman en compagnie de mon frère <i>Yazid Toihir</i>, un livre de 285 pages dont le genre est : <br><h3><strong style="color: rgb(236, 195, 231)">Fantastique et Aventure.</strong></h3> </p>
              <h2><strong> De quoi parle l'histoire ? </strong></h2> <p> Malgré le fait que l'histoire évolue dans un monde fantastique, l'histoire aborde tout de même des sujets divers et variés, tels que la <strong style="color: rgb(248, 231, 176)">pression sociale, l’avenir des jeunes, les contraintes, les désillusions et la compétition dans le milieu scolaire et professionnel.</strong>
                Nous pouvons observer les différents points de vues de jeunes évoluant dans un monde où ils grandissent comme des pions appartenant à divers camps du jeu.
                <br>
                <br>
                L'histoire est divisée en 11 aventures principales et accompagnée par un large panel d'aventures secondaires.
              </p>
              <h2><strong> Quel est notre objectif ? </strong></h2> <p> L'histoire est extrêmement rythmée et dynamique c'est pourquoi nous pensons qu'elle serait idéale dans un dessin animé ou un livre dédié à la jeunesse. De plus, elle aborde des sujets qui impactent directement la jeunesse en utilisant <strong style="color: rgb(94, 46, 139)">un format et un contexte qui lui parle.</strong></p>
              <p style="font-weight: bold;"> Si vous êtes une maison d'édition ou un studio d'animation et que vous êtes intéressés par ce projet, <a href="mailto:yotoihir@gmail.com" style="text-decoration: underline; color: rgb(243, 166, 147);"><strong>contactez-nous.</strong></a></p>

              <a class="btn btn-outline-light btn-lg btn-block" href="https://www.amazon.fr/dp/B09BLGSRCT" role="button">Lire l'histoire</a>

          </div>
      </div>
    </div>
    <div class="linkPhoto"><strong><a href="https://www.pexels.com/@artempodrez">Photo</a></strong></div>
</section>
